@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #101010;
  font-family: "Inter", sans-serif;
}
img {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
